/* Ankündigungsbox */
.ankuendigungsBox{
	width: 410px;
}

/* rechte Spalte */
.rechteSpalteBox{
	width: 175px;
}

/* Text in Aktuelles auf der Startseite*/
.aktuell {
	font-size: 8pt;
	font-weight: normal;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: left;
}

/* Text in Ankündigung auf der Startseite */
.textankuendigung {
	font-size: 10pt;
	font-weight: normal;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: left;
}

#content dl {
	font-size: 8pt;
	margin-left: 10px;
	margin-right: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-align: left;
}

#content dt {
	margin-top: 5pt;
}

#content th {
	font-size: 9pt;
	font-weight: bold;
	height: 20px;
	text-align: center;
	vertical-align: middle;
}