.address-box,
.contact-form-box,
aside,
#map {
  margin-bottom: 3em;
}

.contact-address,
.contact-vorstand {
  margin-bottom: 2em;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
}
