.gallery .thumbnail {
	margin-bottom: 10px;
}

.thumbnailControls {
	text-align: center;
}

.thumbnail {
	padding: 0;
	border-radius: 0;
}

.thumbnail .caption h3 {
	margin-top: 0;
	font-weight: normal;
}

.thumbnail .thumbnailOverflow {
	max-width: 600px; /* corresponding to semester cover */
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	height: 0; /* is adjusted by screen.js */
}

.thumbnail .thumbnailOverflow img {
	margin-top: 0; /* is adjusted by screen.js */
	width: 100%;
}

.thumbnail .public {
	border: 2px solid green;
}

.thumbnail .internal {
	border: 2px solid orange;
}

.thumbnail .private {
	border: 2px solid red;
}

.carousel-control.left, .carousel-control.right {
	background-image: none;
}

.fa.public {
	color: green;
}

.fa.internal {
	color: orange;
}

.fa.private {
	color: red;
}