main .thumbnailControls {
	text-align: center;
}

main .thumbnail .thumbnailOverflow {
	max-width: 400px; /* corresponding to semester cover */
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	height: 0; /* is adjusted by screen.js */
}

main .thumbnail .thumbnailOverflow img {
	margin-top: 0; /* is adjusted by screen.js */
	width: 100%;
}

main .fa.public {
	color: green;
}

main .fa.internal {
	color: orange;
}

main .fa.private {
	color: red;
}

main .thumbnail .public {
	border: 2px solid green;
}

main .thumbnail .internal {
	border: 2px solid orange;
}

main .thumbnail .private {
	border: 2px solid red;
}