.ankuendigungsBox {
	background-color: #FFFAF0;
	width: 410px;
}

.rechteSpalteBox {
	background-color: #FFFAF0;
	width: 175px;
}

/* Text in Aktuelles auf der Startseite */
.aktuell {
	font-size: 8pt;
	font-weight: normal;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: left;
}

/* Text in Ankündigung auf der Startseite */
.textankuendigung {
	font-size: 10pt;
	font-weight: normal;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: left;
}

/* Bilder in Aktuelles auf der Startseite */
.aktuellimg {
	text-align: center;
}

#content th {
	background-color: #E8CAA2;
	font-size: 9pt;
	font-weight: bold;
	height: 20px;
	text-align: center;
	vertical-align: middle;
}