.navbar-default {
	background-color: white;
	border-color: rgba(34, 34, 34, 0.05);
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-default a {
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-default #logo {
	height: 75px;
}

.navbar-default.affix #logo {
	height: 50px;
	width: 50px;
	float: left;
}

.navbar-default .navbar-header .navbar-brand {
	color: inherit;
	font-weight: 700;
	text-transform: uppercase;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
	color: #111;
}

.navbar-default .navbar-header .navbar-toggle {
	font-weight: 700;
	color: inherit;
	text-transform: uppercase;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
	font-weight: 700;
	color: inherit;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
	color: #111;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
	color: #111;
	background-color: transparent;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
	background-color: transparent;
}

.navbar-default .nav .dropdown-menu > .active > a,
.navbar-default .nav .dropdown-menu > .active > a:focus, 
.navbar-default .nav .dropdown-menu > .active > a:hover {
	background-color: transparent;
}

@media(min-width: 768px) {
	.navbar-default.affix .navbar-header .navbar-brand {
		font-size: 1.1em;
	}
}

.navbar-default .navbar-internet .nav > li > a {
	text-transform: uppercase;
}

.navbar-default .navbar-intranet .nav {
	font-size: 0.8em;
}

.navbar-default .navbar-intranet .nav > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}