#content .galerie {
	clear: both;
	position: relative;
	text-align: center;
	margin-top: 30px;
}

#content .interactiveBox {
	border-width: 1px;
	border: thin solid #000000;
	background-color: #FFFAF0;
	width: 150px;
	padding: 5px;
	margin: 0 0 10px 10px;
	float: right;
}

#content .interactiveBox .eventbox {
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
}

#content .interactiveBox .eventinput {
	font-size: 8pt;
	margin: 0 5px 5px 0;
	float: left;
}

#content .interactiveBox .eventbutton {
	font-size: 8pt;
	float: left;
	margin-left: 0px;
}