body {
	background-color: #FAF8F8;
}

#container{
	background-image: url('zirkel.svg');
	background-position: 0% 0%;
	background-repeat: repeat-y;
	background-size: 100% auto;
}

#logo {
	background-image: url('topleft.png');
	background-repeat: no-repeat;
}

header h1::before {
	content: "KStV Markomannia";
	color: #961419;
	font-family: serif;
}

header h2::before {
	content: "im KV zu Münster";
	color: #961419;
	font-family: serif;
}

header #signout a {
	color: #961419;
}

#menu {
	color: #961419;
}

#menu a:link {
	color: #961419;
}

#menu a:visited {
	color: #961419;
}

#menu a:hover {
	color: #000080;
}

#menu a:active {
	color: #000080;
}

#menu a:focus {
	color: #000080;
}

#content {
	background: rgba(255, 255, 255, 0.6);
}

#content a:link {
	color: #961419;
}

#content a:visited {
	color: #961419;
}

#content a:hover {
	color: #000080;
}

#content a:active {
	color: #000080;
}

#content a:focus {
	color: #000080;
}

#content h1 {
	color: #961419;
}

#content h2 {
	color: #961419;
}

#content th {
	background-color: #E8CAA2;
}

#content .calendarMonth {
	background-color: #E8CAA2;
}

#content .calendarDay {
	border: thin solid #E8CAA2;
}

#content .calendarDayName {
	background-color: #E8CAA2;
}

#content .today {
	border: thin solid #961419;
}