#logo {
	background-image: url('panier.svg');
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: center;
}

#brand:hover,
#brand:focus {
	color: #961419;
}

#nav li > a:hover,
#nav li > a:focus:hover {
	color: #961419;
}

#nav li.active > a,
#nav li.active > a:focus {
	color: #961419;
}

a:link,
a:visited {
	color: #961419;
}

a:hover,
a:active,
a:focus {
	color: #000080;
}

.calendar .today {
	border: thin solid #961419;
}