body {
	background-color: #FAF8F8;
}

#container {
	background-image: url('zirkel.svg');
	background-repeat: repeat-y;
	background-size: 100% auto;
}

#logo {
	background-image: url('panier.svg');
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: center;
}

#brand:hover, #brand:focus {
	color: #961419;
}

#nav li > a:hover, #nav li > a:focus:hover {
	color: #961419;
}

#nav li.active > a, #nav li.active > a:focus {
	color: #961419;
}

main a:link, main a:visited {
	color: #961419;
}

main a:hover, main a:active, main a:focus {
	color: #000080;
}

main h1, main h2 {
	color: #961419;
}

main th {
	background-color: #E8CAA2;
}

main .calendar .calendarMonthName, main .calendar .calendarDayName {
	background-color: #E8CAA2;
}

main .calendar .calendarDay {
	border: thin solid #E8CAA2;
}

main .calendar .today {
	border: thin solid #961419;
}