html, body{
	height: 100%;
}

body {
	padding: 0;
}

fieldset {
	padding: 8px;
	border: 1px solid grey;
}

#container {
	min-height: 100%;
}

#logo {
	height: 100px;
}


#header h1 {
	margin-bottom: 0;
	line-height: 0.8;
	font-size: 3.5em;
	font-family: serif;
}

#header h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2.2em;
	font-family: serif;
}

#header #signout {
	position: absolute;
	bottom: 0.5em;
	right: 2em;
	font-weight: bold;
}

#header #signout a {
	text-decoration: none;
}


nav.navbar {
	margin-bottom: 0;
}

nav.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

nav .navbar-internet li a {
	padding: 10px;
}

nav .navbar-intranet {
	font-size: 0.8em;
}

nav .navbar-intranet .dropdown-menu {
	font-size: 1em;
}

nav .navbar-intranet li a {
	padding: 5px;
}


#content {
	border-radius: 4px 4px 0 0;
	padding: 1em;
}

#content a {
	text-decoration: none;
}

#content abbr {
	text-decoration: none;
	font-style: normal;
}

#content acronym {
	text-decoration: none;
	font-style: normal;
}

#content ul {
	list-style-type: disc;
	text-align: justify;
}

#content ol {
	list-style-type: decimal;
}

#content hr {
	height: 1px;
	margin: 5px;
}

#content h1 {
	font-size: 1.5em;
	font-weight: bolder;
	margin-left: 10pt;
	margin-right: 10pt;
	margin-top: 5pt;
	margin-bottom: 10pt;
	text-align: center;
}

#content h2 {
	font-size: 1.2em;
	font-weight: bold;
	margin-left: 10pt;
	margin-right: 10pt;
	margin-top: 10pt;
	margin-bottom: 5pt;
	text-align: center;
}

#content h3 {
	font-size: 1.0em;
	font-weight: bold;
	margin-left: 10pt;
	margin-right: 10pt;
	margin-top: 10pt;
	margin-bottom: 5pt;
	text-align: center;
}

#content h4 {
	font-size: 1.0em;
	font-weight: bold;
	margin-left: 0pt;
	margin-right: 0pt;
	margin-top: 5pt;
	margin-bottom: 5pt;
	text-align: left;
}

#content img {
	border: 0;
	vertical-align: middle;
	margin: 2px;
}

#content table {
	border-width: 0;
	margin: 0;
	padding: 0;
}

#content td {
	vertical-align: top;
	border-width: 0;
}

#content input {
	padding: 1px;
	margin: 2px 0 2px 0;
}

#content textarea {
	padding: 1px;
	margin: 2px 0 2px 0;
}

#content .text {
	margin: 0;
	text-align: justify;
	padding: 10px;
}

#content .notificationBox {
	border: 1px solid green;
	background-color: #58FA58;
	padding: 1px;
}

#content .errorBox {
	border: 1px solid red;
	background-color: #F6CECE;
	padding: 1px;
}

#content .memberSignatureBox {
	width: 75px;
	line-height: 0;
}

#content .memberSignatureImg {
	width: 75px;
	height: 100px;
	margin: 0;
}

#content .memberActivityBar {
	display: inline-block;
	height: .2em;
	margin: .2em 0 0 0;
}

#content .memberActivityBarActive {
	background-color: black;
}

#content .memberActivityBarInactive {
	background-color: white;
}

#content .calendarYear {
	table-layout: fixed;
	border-spacing: 2px;
	border-collapse: separate;
	width: 100%;
}

#content .calendarMonthName {
	text-align: center;
}

#content .calendarDayName {
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
}

#content .calendarDay {
	border: thin solid #000000;
	font-size: 8pt;
}

#content .calendarEvent {
	text-align: center;
}

#content .calendarEvent .calendarEventImg {
	max-width: 100%;
	height: auto;
}

#content .calendarEvent .summary {
	font-size: 8pt;
}

#content table {
	width: 100%;
}

#content th {
	font-weight: bold;
	height: 20px;
	text-align: center;
	vertical-align: middle;
}


footer {
	text-align: center;
}