html, body {
	height: 100%;
}

body {
	padding: 0;
}

fieldset {
	padding: 8px;
	border: 1px solid #333;
}


#container {
	min-height: 100%;
}


#logo {
	height: 100px;
}


#header h1 a, #header h2 a {
	text-decoration: none;
	color: inherit;
}

#header h1 {
	margin-bottom: 0;
	line-height: 0.8;
	font-size: 3.5em;
	font-family: serif;
}

#header h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 2.2em;
	font-family: serif;
}

#header #signout {
	position: absolute;
	bottom: 0.5em;
	right: 2em;
}

#header #signout a {
	text-decoration: none;
}


nav.navbar {
	margin-bottom: 0;
}

nav.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

nav.navbar-default .navbar-nav li a,
nav.navbar-default .navbar-nav li.active a,
nav.navbar-default .navbar-nav .open .dropdown-menu li a {
	color: #333;
}

nav .navbar-internet li a {
	padding: 10px;
}

nav .navbar-intranet {
	font-size: 0.8em;
}

nav .navbar-intranet .dropdown-menu {
	font-size: 1em;
}

nav .navbar-intranet li a {
	padding: 5px;
}


main, footer {
	background: rgba(255, 255, 255, 0.7);
	padding: 1em;
}

main {
	border-top: 1px solid #333;
}

main p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

main h1 {
	font-size: 1.5em;
	font-weight: bolder;
	text-align: center;
}

main h2 {
	font-size: 1.2em;
	font-weight: bold;
	text-align: center;
}

main h3 {
	font-size: 1.0em;
	font-weight: bold;
	text-align: center;
}

main h4 {
	margin-top: 0;
	font-size: 1.0em;
	font-weight: bold;
}

main a {
	text-decoration: none;
}

main hr {
	clear: both;
	margin-top: 10px;
	margin-bottom: 10px;
}

main table {
	width: 100%;
	border-width: 0;
	margin: 0;
	padding: 0;
}

main th {
	font-weight: bold;
	height: 20px;
	text-align: center;
	vertical-align: middle;
}

main td {
	vertical-align: top;
	border-width: 0;
}

main dt {
	font-weight: normal;
}

main dd {
	margin-left: 2em;
}

main .icon {
	width: 24px;
	margin: 0 2px;
}

main .icon_small {
	width: 14px;
	margin: 0 2px;
}

main .notificationBox {
	border: 1px solid green;
	background-color: #58FA58;
	padding: 1px;
}

main .errorBox {
	border: 1px solid red;
	background-color: #F6CECE;
	padding: 1px;
}

/* image delete icon */

main .imgBox .deleteIconBox {
	position: absolute;
}

main .imgBox .deleteIconBox .icon {
	margin: 0;
	padding: 1px;
	background-color: white;
}

/* person signature */

main .personSignatureBox {
	position: relative;
	width: 100px;
	margin-bottom: 0.5em;
}

main .personSignatureBoxLarge {
	width: 150px;
}

main .personSignatureBox .imgBox {
	background-color: white;
	border: 1px solid #333;
}

main .personSignatureBox .imgBox .personImg {
	width: 100px;
	height: 133px;
}

main .personSignatureBox .imgBox .personImgLarge {
	width: 150px;
	height: 200px;
}

main .personSignatureBox .personActivityBox {
	width: 100%;
	line-height: 0;
}

main .personSignatureBox .personActivityBox .personActivityBar {
	display: inline-block;
	height: .2em;
	margin: .2em 0 0 0;
}

main .personSignatureBox .personActivityBox .personActivityBarActive {
	background-color: black;
}

main .personSignatureBox .personActivityBox .personActivityBarInactive {
	background-color: white;
}

/* calendar */

main .calendarYear {
	table-layout: fixed;
	border-spacing: 2px;
	border-collapse: separate;
	width: 100%;
}

main .calendarMonthName {
	text-align: center;
}

main .calendarMonthName h2 {
	text-align: center;
	margin: 10px 0;
}

main .calendarDayName {
	text-align: center;
	font-size: 10pt;
	font-weight: bold;
}

main .calendarDay {
	border: thin solid #000000;
	font-size: 8pt;
}

main .calendarEvent {
	text-align: center;
	padding: 5px;
}

main .calendarEvent .summary {
	font-size: 8pt;
}

/* gallery */

main .gallery {
	text-align: center;
}

main .gallery .thumbBox {
	margin-bottom: 30px;
}

main .gallery .public {
	border: 2px solid green;
}

main .gallery .internal {
	border: 2px solid yellow;
}

main .gallery .private {
	border: 2px solid red;
}

main .carousel-control.left, main .carousel-control.right {
	background-image:none;
}

/* thumbnail */

main .thumbnail {
	max-height: 150px;
	margin-bottom: 0;
}

/* semester cover */

main .semestercover {
	max-height: 150px;
	margin-bottom: 10px;
}


footer .social-buttons .icon {
	width: 24px;
	margin: 5px;
}