.calendar {
	width: 100%;
}

.calendar .calendarMonthName {
	width: 100%;
	margin-top: 1px;
}

.calendar .calendarMonthName h2 {
	text-align: center;
	margin: 0;
	padding: 0.5em;
}

.calendar .calendarCellContainer {
    display: flex;
	flex-wrap: wrap;
	flex: none;
	justify-content: space-around;
}

.calendar .calendarCell {
	margin-top: 1px;
	padding: 0.5em;
}

@media (max-width: 768px){
	.calendar .calendarCell {
		width: 100%;
	}
}

@media (min-width: 768px){
	.calendar .calendarCell {
		/* (100% / 7) - 0.1% */
		width: 14.185714285714285714285714285714%;
	}
}

.calendar .calendarDayName {
	text-align: center;
}

.calendar .calendarDay {
	border: thin solid #000000;
	text-align: left;
}

.calendar .calendarDay .calendarEvent {
	text-align: center;
	margin-top: 1em;
}

.calendar .calendarDay .calendarEvent time {
	font-weight: bold;
}

.calendar .calendarDay .calendarEvent .thumbnail {
	margin-bottom: 0;
}